.style {
	font-weight: bold;
}

.input {
	text-align: right;
}

.input-color {
	background-color: rgb(132, 134, 150);
	color: white;
}

.center {
	text-align: center;
}

.grey {
	background-color: rgb(224, 224, 224);
}

.orange {
	background-color: rgb(255, 141, 26);
	color: white;
}

.borderr {
	border: 0.8px solid rgb(132, 134, 150) !important;
	border-left: none;
}